.pole {
  height: 200px;
  width: 15px;
  margin: 0 auto;
  background-color: black;
  border-radius: 7.5px;
}

.blackbox {
  background-color: black;
  display: inline-block;
  margin-top: 100px;
  margin-left: -57.5px;
  padding: 20px;
  border-radius: 20px;
}

.light {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.glowy {
  box-shadow: 0px 0px 15px 20px yellow;
}

.glowr {
  box-shadow: 0px 0px 15px 20px red;
}

.glowg {
  box-shadow: 0px 0px 15px 20px green;
}

.glowp {
  box-shadow: 0px 0px 15px 20px purple;
}
